<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- <script src="index.js"></script> -->
    <link href="/static/aquapressure_static/website/index.css" rel="stylesheet" />

    <!-- favicon stuff -->
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon" /> -->

    <!-- text-headers font from Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <title>Aquapressure: The Cognitive Resilience Project</title>
  </head>

  <body>
    <!--navbar-->
    <!-- <div class="navbar" id="navbar">
      <a href="./index.html">Home</a>
      <a href="./about.html">About</a>
      <a href="./team.html">Team</a>
    </div> -->

    <!--landing page with parallax-->
    <div class="landing">
      <div class="logoDiv">
        <img class="logo" src="/static/aquapressure_static/website/cropped-aquapressure-logo.png" />
      </div>

      <div class="tagline">
        <h1>The Cognitive Resilience Project</h1>
        <button id="landingPagePlayGame" onclick="window.location.href='comingSoon.html'">Play our game!</button>
      </div>

      <!-- <div class="section" id="ourMission">
        <div class="text_headers">
          <h1 id="ourMissionHeader">Our Mission</h1>
        </div>
        <div class="paragraphBlock">
          <p>
            The Cognitive Resilience Project aims to examine why some people
            are more effective than others in maintaining their cognitive
            abilities in the face of stress. These people demonstrate
            “cognitive resilience” and may have better outcomes during times
            of difficulty and challenge. Studying individuals of varying
            levels of cognitive resilience could help us identify key insights
            needed to inform strategies or interventions aimed to enhance
            overall well-being.
          </p>
        </div>
      </div> -->
    </div>

    <div class="contentBackground">
      <div class="content">

        <!--Our Mission-->
        <div class="section" id="ourMission">
          <div class="text_headers">
            <h1 id="ourMissionHeader">Our Mission</h1>
          </div>
          <div class="paragraphBlock">
            <p>
              Our brain functions are highly vulnerable to the effects and stress and these stress-induced cognitive impairments may contribute to our learning or our mental wellness. But some individuals are more effective than others in maintaining their cognitive abilities in the face of stress, demonstrating cognitive resilience. Studying how our brain functions varying in the context of stress and how individuals vary in cognitive resilience is critical in exploring factors that preserve our well-being.
            </p>
            <p>
              How do we measure these core brain functions under stress? The Cognitive Resilience Project set out to do exactly that: develop a tool to capture changes in our core cognitive functions under stress and implement a series of experimental studies to investigate these relations.
            </p>
          </div>
        </div>

        <!--Our Concepts block-->
        <div class="section" id="ourConcepts">
          <div class="text_headers">
            <h1 id="ourConceptsHeader">Our Concepts</h1>
          </div>
          <div class="paragraphBlock">
            <p>
              This challenge can be viewed in a framework that has been informed by a large body of psychological and neuroscience research, namely that of executive functions – core cognitive skills that are highly predictive of academic and professional life outcomes. Effective executive function is considered to be essential for daily life but is particularly vulnerable when individuals are exposed to stress. Our work is the first to assess executive functions in the context of stress. Moreover, this work may serve as the first game-based behavioral measure of emotion regulation—the processes by which an individual influences which feelings they have, when they have them, and how they experience feelings.
            </p>
            <button type="button" onclick="window.location.href='comingSoon.html'">Learn more </button>
          </div>
        </div>

        <!--Our Game: AquaPressure block-->
        <div class="section" id="about_aquapressure">
          <div class="text_headers">
            <h1>Our Game: AquaPressure</h1>
          </div>
          <div class="paragraphBlock">
            <p>
              A vast number of executive function assessments currently exist in both academia and for use in the general public. However, the assessments currently available are undermined by a number of validity issues and more importantly, do not assess executive functions in the context of stress.  AquaPressure was developed to do just that: assess a player’s executive function skills as they navigate an underwater maze in varying stressful conditions!
            </p>
            <button type="button" onclick="window.location.href='comingSoon.html'">Play our game</button>
            <button type="button" onclick="window.location.href='comingSoon.html'">More about our game</button>
          </div>
        </div>

        <!--Our Reseach block-->
        <div class="section" id="ourResearch">
          <div class="text_headers">
            <h1>Our Research</h1>
          </div>
          <div class="paragraphBlock">
            <p>
              After creating this research tool for collecting data on executive functions in a socio-emotional context, we are in the midst of conducting a series of research studies to investigate executive functions and stress.
            </p>
            <button type="button" onclick="window.location.href='comingSoon.html'">Contribute to our research</button>
          </div>
        </div>

        <!--student dashboard block-->
        <div class="section" id="studentDashboard">
          <div class="text_headers">
            <h1>Our Student Dashboard</h1>
          </div>
          <div class="paragraphBlock">
            <p>
              For educators interested in bringing executive function to the classroom, we have developed a modified version of Aquapressure in addition to a series of supporting activities that will engage students while testing their executive functions! Our classroom version of Aquapressure has a dashboard to show players their performance across their different executive function skills, and our activity series offers a series of playful activities designed to help students understand the role of their executive functions in their everyday life.

            </p>
            <button type="button" onclick="window.location.href='comingSoon.html'">Learn more</button>
          </div>
        </div>

        <!--team block-->
        <div class="section" id="team">
          <div class="text_headers">
            <h1>Our Team</h1>
          </div>
          <div class="paragraphBlock">
            <p>
              We are cognitive neuroscientists, game designers, programmers, and educators working together to harness the science of cognitive resilience to improve human learning and mental health.
            </p>
            <button type="button" onclick="window.location.href='comingSoon.html'">Meet our team</button>
          </div>
        </div>

        <!-- who we are -->
        <div class="section" id="footer">
          <div class="text_headers">
            <h1>Who We Are</h1>
          </div>

          <div class="footer-images id="footer-images">
            <img src="/static/aquapressure_static/website/gabrieliLab.png" />
            <img src="/static/aquapressure_static/website/mitGameLab.png" />
            <img src="/static/aquapressure_static/website/playfulJourney.png" />
            <img src="/static/aquapressure_static/website/schellerTeacher.png" />
          </div>
        </div>

        <!-- funder -->
        <div class="section" id="funder">
          <div class="text_headers">
            <h1>Our Funder</h1>
          </div>

          <div class="paragraphBlock">
            <p>Our work has been made possible through the support of Schmidt Futures.</p>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
