<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input name="levelbundle" type="file">
    <br>
    Group: <input name="group" type="text"></input>
    <br>
    <button type="submit">Upload</button>
</form>



{% if created_group %}
    <p>URL created successfully</p>
    <p><a href="/{{ group_url }}">{{ group_url }}</a></p>
{% else %}
    <p>Error creating URL</p>
{% endif %}

{% if file_uploaded %}
<p>Levels uploaded successfully</p>
{% endif %}



</body>
</html>