<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Shadowspect</title>
    <link href="/static/shadowspect_static/TemplateData/favicon.ico" rel="shortcut icon">
    <link href="/static/shadowspect_static/TemplateData/style.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css"/>
    <script src="/static/shadowspect_static/TemplateData/UnityProgress.js"></script>
    <script src="/static/shadowspect_static/Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "/static/shadowspect_static/Build/WebGL.json", {onProgress: UnityProgress});

    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    document.instructionA = "Your Session ID is:\n{{ sessionID }}\nCopy this session ID "
    document.instructionB = "and submit it to Mechanical Turk. We will then verify your activity. Thank you!"

    window.onload = function(){
        swal({
          title: "Thank you!",
          text: "After five minutes, you will be given a session ID. Please submit that ID to Mechanical Turk. You must be attempting to solve puzzles the entire time to qualify.",
          icon: "warning",
          closeOnClickOutside: false,
          buttons: {
            begin: {
                text: "Begin Playing",
                },
          }
        })
        .then(() => {
          console.log("begun");
          document.counter = setInterval(function(){

            document.timer.innerText = Math.floor(document.time / 60) + ":" + (document.time % 60).toString().padStart(2, '0')
            if (document.time == 0) {
                clearInterval(document.counter)

                swal({
                  title: "Session Information",
                  text: document.instructionA + document.instructionB,
                  icon: "warning",
                  closeOnClickOutside: false,
                  buttons: {
                    begin: {
                        text: "Begin Playing",
                        },
                  }
                })


            }
            document.time -= 1;
        }, 1000)

        });
        document.timer = document.getElementById('timer')
        document.time = 100;

        };

    </script>
    <style>
        .swal-modal {
            background-color: #00384c
        }
        .swal-footer, .swal-text, .swal-title {
            text-align: center;
	        font-family: Quicksand;
        }
        .swal-button--consent {
        	background-color: #60cad4;
        }
        .swal-button--nonconsent {
        	background-color: #d54d5c;
        }
        .swal-title, .swal-text {
            color: #e2dbd7
        }
        .swal-button {
            color: #000000
        }

    </style>
</head>
<body>
<div>Time remaining: <span id="timer"></span></div>
<div class="webgl-content">
    <div id="gameContainer" style="width: 960px; height: 540px"></div>
    <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Shadowspect</div>
    </div>
</div>
</body>
</html>
