aioredis==1.3.1
amqp==2.5.2
appdirs==1.4.3
argon2-cffi==20.1.0
asgiref==3.3.1
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.1.3
Automat==0.7.0
backcall==0.1.0
billiard==3.6.3.0
bleach==3.3.0
CacheControl==0.12.6
celery==4.4.2
certifi==2019.11.28
cffi==1.13.2
channels==3.0.3
channels-redis==3.2.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
constantly==15.1.0
contextlib2==0.6.0
cryptography==3.4.6
daphne==3.0.1
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
Django==2.2.13
django-allauth==0.41.0
django-anymail==7.0.0
django-environ==0.4.5
django-extensions==2.2.8
django-heroku==0.3.1
django-pandas==0.6.1
djangorestframework==3.12.2
entrypoints==0.3
environ==1.0
gunicorn==19.9.0
h11==0.9.0
hiredis==1.0.1
html5lib==1.0.1
httptools==0.0.13
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.5.0
incremental==17.5.0
ipaddr==2.2.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
kombu==4.6.8
lockfile==0.12.2
MarkupSafe==1.1.1
mistune==0.8.4
msgpack==1.0.2
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.1.6
numpy==1.18.1
oauthlib==3.1.0
packaging==20.3
pandas==1.0.2
pandocfilters==1.4.2
parso==0.6.2
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.4
psycopg2==2.8.6
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
Pygments==2.6.1
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python3-openid==3.1.0
pytoml==0.1.21
pytz==2019.3
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rrcf==0.4.3
scikit-learn==0.24.1
scipy==1.6.1
Send2Trash==1.5.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.3.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.0.4
traitlets==4.3.3
Twisted==20.3.0
txaio==20.1.1
urllib3==1.26.3
uvicorn==0.13.4
uvloop==0.15.2
vine==1.3.0
wcwidth==0.1.8
webencodings==0.5.1
websockets==8.1
whitenoise==5.0.1
widgetsnbextension==3.5.1
zipp==3.1.0
zope.interface==4.6.0
