<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Shadowspect</title>
    <link href="/static/test/TemplateData/style.css" rel="stylesheet">
    <script src="/static/test/TemplateData/UnityProgress.js"></script>
    <script src="/static/test/Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "/static/test/Build/WebGL.json", {onProgress: UnityProgress});

    </script>
</head>
<body>
<div class="webgl-content">
    <div id="gameContainer" style="width: 960px; height: 540px"></div>
    <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Shadowspect</div>
    </div>
</div>
</body>
</html>
