{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="about">
    The goal of ELK is to decompose the high leverage teaching practice of eliciting and interpreting student thinking. <br>
    During the game, players role play a teacher or a student, and have the opportunity to: <br>
    “1. Formulate and post questions  <br> 
    2. Listen to and interpret student responses <br> 
    3. Develop additional questions prompts, and tasks to probe and unpack what students say”. (TeachingWorks)
    <br> <br>
    Participants who are playing students: <br>
    1. Learn about students’ ideas about a topic by embodying those ideas and 
    <br> 2. Gain empathy for being a student in a student/ teacher situation.
</div>


{% endblock %}
