<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/static/dashboard/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dashboard/css/dashboard.css">
</head>

<body>
    <div id="root">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
            <a class="navbar-brand" href="#">Shadowspect Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a id="nav-metrics" class="nav-item nav-link disabled" href="#">Metrics</a>
                </div>
            </div>
        </nav>

        <div id="app">
            <div id="page-container" class="page container">
                <div id="loader-container" class="container page">
                    <div id="page-spinner" class="text-center">
                        <div id="spinner" class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="event-stream-container" class="container page" style="display:none">
                    <div class="row">
                        <div class="main-col col-3">
                            <div id="session-filter" class="main-col-child list-group">
                                <button id="all-sessions-button" type="button" class="list-group-item list-group-item-action">
                                    All Sessions
                                    <span id="total-event-number" class="badge badge-primary badge-pill float-right">0</span>
                                </button>
                            </div>
                        </div>
                        <div class="main-col col-6">
                            <div id="event-filter" class="main-col-child list-group"></div>
                        </div>
                        <div class="main-col col-3">
                            <div class="main-col-child card">
                                <div id="event-details" class="card-body">
                                    <p class="font-weight-bold">Event ID<br><span id="event-id" class="font-weight-normal">
                                    </p>
                                    <p class="font-weight-bold">Time<br><span id="event-time" class="font-weight-normal">
                                    </p>
                                    <p class="font-weight-bold">Type<br><span id="event-type" class="font-weight-normal">
                                    </p>
                                    <p class="font-weight-bold">Data<br><span id="event-data" class="font-weight-normal">
                                    </p>
                                    <p class="font-weight-bold">Session<br><span id="event-session" class="font-weight-normal"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="metrics-container" class="container page" style="display:none">
                    <!-- <div id="basic-metric-cards" class="card-deck"></div> -->
                    <div id="metrics-overview-container" class="container page">
                        <div id="funnel-container" class="container">
                            <div id="echarts-funnel-container">
                                <div id="funnel-row-1" class="funnel-row"></div>
                                <div id="funnel-row-1-detail" class="funnel-detail-row"></div>
                                <div id="funnel-row-2" class="funnel-row"></div>
                                <div id="funnel-row-2-detail" class="funnel-detail-row"></div>
                                <div id="funnel-row-3" class="funnel-row"></div>
                                <div id="funnel-row-3-detail" class="funnel-detail-row"></div>
                            </div>
                            <div id="funnel-controls" class="container">
                                <span>Viewing data for <h5 id="class-level-filter-text">Class</h5></span>
                                
                                <div id="funnel-difficulty" class="btn-group" role="group" aria-label="Difficulty Level">
                                    <button id="difficulty-beginner" type="button" class="btn btn-secondary">Beginner</button>
                                    <button id="difficulty-intermediate" type="button" class="btn btn-secondary">Intermediate</button>
                                    <button id="difficulty-advanced" type="button" class="btn btn-secondary">Advanced</button>
                                </div>
                                <div id="player-container">
                                    <div id="player-card" class="card">
                                        <div class="card-header"><h6 id="player-count"></h6></div>
                                        <div id="player-list" class="list-group-flush"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script> const GROUP = "{{url}}"; </script> 
    <script src="/static/dashboard/js/jquery-3.3.1.min.js"></script>
    <script src="/static/dashboard/js/popper.min.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
    <script src="/static/dashboard/js/echarts-en.min.js"></script>
    <script src="/static/dashboard/js/constants.js" type="module"></script>
    <script src="/static/dashboard/js/helpers.js" type="module"></script>
    <script src="/static/dashboard/js/metrics-overview.js" type="module"></script>
    <script src="/static/dashboard/js/dashboard.js" type="module"></script>
</body>

</html>