<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/dashboard/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dashboard/css/dashboard.css">
    <link rel="stylesheet" href="/static/dashboard/css/funnel.css">
    <link rel="stylesheet" href="/static/dashboard/css/radar.css">
    <link rel="stylesheet" href="/static/dashboard/css/network.css">
</head>

<body>
    <div id="root">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
            <a class="navbar-brand" href="#">Shadowspect Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a id="nav-metrics" class="nav-item nav-link disabled" href="#">Metrics</a>
                    <a id="nav-puzzle-radar" class="nav-item nav-link disabled" href="#">Puzzle Radar Chart</a>
                    <a id="nav-student-radar" class="nav-item nav-link disabled" href="#">Student Radar Chart</a>
                    <a id="nav-outlier-radar" class="nav-item nav-link disabled" href="#">Outlier Radar Chart</a>
                    <a id="nav-puzzle-network" class="nav-item nav-link disabled" href="#">Sequence Between Puzzles</a>
                    <a id="nav-ml-outliers" class="nav-item nav-link disabled" href="#">Outliers via ML</a>
                </div>
            </div>
        </nav>

        <div id="app">
            <div id="page-container" class="page container">
                <div id="loader-container" class="container page">
                    <div id="page-spinner" class="text-center">
                        <div id="spinner" class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="metrics-container" class="container page" style="display:none">
                    <div id="metrics-overview-container" class="container page">
                        <div id="funnel-container" class="container">
                            <div style="display:inline-flex; flex-direction: column; margin-right: 10px; width: 80%">
                                <div id="funnel-view-controls">
                                    <div style="vertical-align: middle;">
                                        <div id="funnel-difficulty" class="btn-group" role="group" aria-label="Difficulty Level"></div>
                                    </div>
                                    <div id="zoom-slider-container" style="vertical-align: middle">
                                        <button id="funnel-zoom-out" class="btn zoom-icon zoom-item"><i class="fas fa-search-minus"></i></button>
                                        <input id="zoom-range" class="zoom-item" type="range" min="1" max="5" step="1" value="1" style="vertical-align: middle;">
                                        <button id="funnel-zoom-in" class="btn zoom-icon zoom-item"><i class="fas fa-search-plus"></i></button>
                                    </div>
                                </div>
                                <div id="echarts-funnel-container">
                                    <div id="funnel-row-1" class="funnel-row"></div>
                                    <div id="funnel-row-1-detail" class="funnel-detail-row"></div>
                                    <div id="funnel-row-2" class="funnel-row"></div>
                                    <div id="funnel-row-2-detail" class="funnel-detail-row"></div>
                                    <div id="funnel-row-3" class="funnel-row"></div>
                                    <div id="funnel-row-3-detail" class="funnel-detail-row"></div>
                                </div>
                                <div id="sandbox-metrics-container"></div>
                            </div>
                            <div id="funnel-player-controls" class="container">
                                <div>
                                    <div>
                                        Viewing data for
                                    </div>
                                    <div style="display:inline-flex; flex-direction: row">
                                        <h5 id="class-level-filter-text">Class</h5>
                                        <button id="filter-clear" type="button" class="close text-danger" aria-label="Close"
                                            style="display:none; height:1em; margin-left:5px;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div id="player-container">
                                    <div id="player-card" class="card">
                                        <div class="card-header">
                                            <h6 id="player-count"></h6>
                                        </div>
                                        <div id="player-list" class="list-group-flush"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="puzzle-radar-container" class="container page" style="display:none">
                    <div class="radar-config">
                        <div class="dropdown">
                            <button id="puzzle-dropdown-button" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Select a Puzzle
                            </button>
                            <div id="puzzle-dropdown-options" class="dropdown-menu" aria-labelledby="puzzle-dropdown-button"></div>
                        </div>
                        <div id="axes-selection-container" class="card">
                            <div class="card-header">
                                Axes
                            </div>
                            <div class="card-body">
                                <div id="radar-puzzle-option-list" class="list-group list-group-flush">
                                    <div id="radar-puzzle-option-1-dropdown-container" class="dropdown">
                                        <a id="radar-puzzle-option-1"
                                            class="puzzle-plus-option-button list-group-item list-group-item-action dropdown-toggle"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"">
                                                                                                    <i class=" fas fa-plus plus-option"></i>
                                            Option
                                        </a>
                                        <div id="radar-puzzle-option-1-dropdown" class="dropdown-menu" aria-labelledby="option"></div>
                                    </div>
                                </div>
                                <a id="build-puzzle-radar-button" class="btn btn-primary">Build New Axes</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Add or Remove Charts</h5>
                                <div id="radar-players"></div>
                                <div class="btn-group dropright">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Add
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#add-student-modal-radar" href="#">Student</a>
                                        <a id="add-class-average-button" class="dropdown-item" href="#">Class Avg.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="add-student-modal-radar" tabindex="-1" role="dialog"
                            aria-labelledby="add-student-modal-radar-label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="add-student-modal-radar-label">Select Student(s)</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="selection-radar">
                                            <h6>Current Selection: <span id="selected-player-radar">None</span></h6>
                                        </div>
                                        <div id="add-player-list" class="list-group-flush"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button id="add-student-button-radar" type="button" class="btn btn-primary" data-dismiss="modal">Add to
                                            Chart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="puzzle-radar-chart"></div>
                </div>
                <div id="student-radar-container" class="container page" style="display:none">
                    <div class="radar-config">
                        <div class="dropdown">
                            <button id="student-dropdown-button" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Select a Student
                            </button>
                            <div id="student-dropdown-options" class="dropdown-menu" aria-labelledby="student-dropdown-button"></div>
                        </div>
                        <div id="axes-selection-container" class="card">
                            <div class="card-header">
                                Axes
                            </div>
                            <div class="card-body">
                                <div id="radar-student-option-list" class="list-group list-group-flush">
                                    <div id="radar-student-option-1-dropdown-container" class="dropdown">
                                        <a id="radar-student-option-1"
                                            class="student-plus-option-button list-group-item list-group-item-action dropdown-toggle"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"">
                                                                                                                    <i class=" fas fa-plus
                                            plus-option"></i>
                                            Option
                                        </a>
                                        <div id="radar-student-option-1-dropdown" class="dropdown-menu" aria-labelledby="option"></div>
                                    </div>
                                </div>
                                <a id="build-student-radar-button" class="btn btn-primary">Build New Axes</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Add or Remove Charts</h5>
                                <div id="radar-puzzles"></div>
                                <div class="btn-group">
                                    <button id="add-puzzle-button" type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#add-puzzle-modal-radar">
                                        Add Puzzle
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="add-puzzle-modal-radar" tabindex="-1" role="dialog"
                            aria-labelledby="add-puzzle-modal-radar-label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="add-puzzle-modal-radar-label">Select Puzzle(s)</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="selection-radar">
                                            <h6>Current Selection: <span id="selected-puzzle-radar">None</span></h6>
                                        </div>
                                        <div id="add-puzzle-list" class="list-group-flush"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button id="add-puzzle-button-radar" type="button" class="btn btn-primary" data-dismiss="modal">Add
                                            to Chart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="student-radar-chart"></div>
                </div>
                <div id="outlier-radar-container" class="container page" style="display:none">
                    <div id="outlier-radar-items-container">
                        <div class="accordion" id="outlier-radar-accordion"></div>
                        <div id="outlier-config">
                            <div id="outlier-radar-params" class="card">
                                <div class="card-header">
                                    Outlier Criteria
                                </div>
                                <div id="outlier-param-container">
                                    <form>
                                        <div class="form-group row">
                                            <label for="outlier-radar-stdev-coeff" class="col-sm-8 col-form-label">St. Dev. Coeff.</label>
                                            <div class="col-sm-4">
                                                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" id="outlier-radar-stdev-coeff">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="outlier-radar-min-metrics" class="col-sm-8 col-form-label">Min. # Outlier Metrics</label>
                                            <div class="col-sm-4">
                                                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" id="outlier-radar-min-metrics">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="outlier-radar-min-puzzles" class="col-sm-8 col-form-label">Min. # Puzzles </label>
                                            <div class="col-sm-4">
                                                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                    class="form-control" id="outlier-radar-min-puzzles">
                                            </div>
                                        </div>
                                        <div class="outlier-radar-switch-container form-group row">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="outlier-radar-completed-avg">
                                                <label class="custom-control-label" for="outlier-radar-completed-avg">Compare Completed Puzzles</label>
                                            </div>
                                        </div>
                                        <div class="outlier-radar-switch-container form-group row">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="outlier-radar-negative-outliers">
                                                <label class="custom-control-label" for="outlier-radar-negative-outliers">Include Negative Outliers</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <button type="button" id="outlier-radar-set-criteria-btn" class="btn btn-primary">Set Criteria</a>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Included Metrics
                                </div>
                                <div id="outlier-filters-container"></div>
                                <button type="button" id="outlier-radar-set-filters-btn" class="btn btn-primary">Set Metrics</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="outlier-radar-modal" tabindex="-1" role="dialog" aria-labelledby="outlier-radar-modal-label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="outlier-radar-modal-label">
                                        Radar Chart for 
                                        <span id="outlier-radar-modal-puzzle">Puzzle</span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="outlier-radar-svg" class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="puzzle-network-container" class="container page" style="display:none">
                    <div class="column-container">
                        <div>
                            <div id="sequence-between-puzzles-student-legend"></div>
                            <div id="sequence-between-puzzles-network"></div>
                        </div>
                        <div id="puzzle-network-config">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="puzzle-network-show-paths-check">
                                <label class="custom-control-label" for="puzzle-network-show-paths-check">Show Paths between Puzzles</label>
                            </div>
                            <div>
                                Color by: &nbsp;
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input puzzle-network-color-option" type="radio" name="puzzle-network-color-radio"
                                        id="puzzle-network-color-radio-completed" value="completed" checked>
                                    <label class="form-check-label" for="puzzle-network-color-radio-completed">
                                        Completion
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input puzzle-network-color-option" type="radio" name="puzzle-network-color-radio"
                                        id="puzzle-network-color-radio-active-time" value="active">
                                    <label class="form-check-label" for="puzzle-network-color-radio-active-time">
                                        Active Time
                                    </label>
                                </div>
                            </div>
                            <div id="puzzle-network-filters" class="card">
                                <div class="card-header">
                                    Filter Students
                                </div>
                                <div id="puzzle-network-filters-container">
                                    <div class="puzzle-network-filter form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="puzzle-network-completed-count-check">
                                        <label class="form-check-label" for="puzzle-network-completed-count-check">
                                            <p>
                                                <label for="puzzle-network-completed-count">Number of completed puzzles:</label>
                                                <input type="text" id="puzzle-network-completed-count" readonly
                                                    style="border:0; color:#f6931f; font-weight:bold; width: 100px;">
                                            </p>
                                        </label>
                                        <div id="puzzle-network-completed-count-slider"></div>
                                    </div>
                                    <div class="puzzle-network-filter form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="puzzle-network-abandoned-count-check">
                                        <label class="form-check-label" for="puzzle-network-abandoned-count-check">
                                            <p>
                                                <label for="puzzle-network-abandoned-count">Number of abandoned puzzles:</label>
                                                <input type="text" id="puzzle-network-abandoned-count" readonly
                                                    style="border:0; color:#f6931f; font-weight:bold; width: 100px;">
                                            </p>
                                        </label>
                                        <div id="puzzle-network-abandoned-count-slider"></div>
                                    </div>
                                    <!-- <div class="puzzle-network-filter form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="puzzle-network-time-spent-check">
                                        <label class="form-check-label" for="puzzle-network-time-spent-check">
                                            <div>
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="puzzle-network-active-total-dropdown" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    Active
                                                </button>
                                                <div id="puzzle-network-active-total-dropdown-menu" class="dropdown-menu" aria-labelledby="puzzle-network-active-total-dropdown">
                                                    <a class="dropdown-item">Active</a>
                                                    <a class="dropdown-item">Total</a>
                                                </div>
                                                <select class="custom-select" id="puzzle-network-time-spent-select">
                                                    <option value="active" selected>Active</option>
                                                    <option value="total">Total</option>
                                                </select>
                                                time of XX on all puzzles
                                            </div>
                                        </label>
                                    </div> -->
                                    <div id="puzzle-network-completed-puzzles" class="puzzle-network-filter"></div>
                                    <a id="puzzle-network-add-completed-puzzle" role="button"><i id="puzzle-network-add-completed-puzzle-icon" class="fas fa-plus plus-option"></i>Add Completed Puzzle</a>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" id="puzzle-network-set-filters-btn" class="btn btn-primary">Set Filters</a>
                                    <button type="button" id="puzzle-network-clear-network-btn" class="btn btn-danger">Clear All</a>
                                </div>
                            </div>
                            <div id="puzzle-network-player-card" class="card">
                                <div class="card-header">
                                    <h6 id="puzzle-network-player-count"></h6>
                                </div>
                                <div id="puzzle-network-player-list" class="list-group-flush"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ml-outlier-container" class="container page" style="display:none">
                    <div id="ml-outlier-items-container">
                        <div class="accordion" id="ml-outlier-accordion"></div>
                    </div>
                    <!-- <div class="modal fade" id="outlier-radar-modal" tabindex="-1" role="dialog"
                        aria-labelledby="outlier-radar-modal-label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="outlier-radar-modal-label">
                                        Radar Chart for
                                        <span id="outlier-radar-modal-puzzle">Puzzle</span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="outlier-radar-svg" class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <script> const GROUP = "{{url}}"; </script> 
    <script src="/static/dashboard/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/dashboard/js/vendor/jquery-ui-1.12.1.min.js"></script>
    <script src="/static/dashboard/js/vendor/popper.min.js"></script>
    <script src="/static/dashboard/js/vendor/bootstrap.min.js"></script>
    <script src="/static/dashboard/js/vendor/fontawesome-all.min.js"></script>
    <script src="/static/dashboard/js/vendor/echarts-en.min.js"></script>
    <script src="/static/dashboard/js/vendor/d3.min.js"></script>
    <script src="/static/dashboard/js/dashboard.js" type="module"></script>
</body>

</html>