html,
body {
    height: 100%;
}

#root {
    overflow-y: scroll;
}

#root,
.row,
.main-col,
.page,
#funnel-container,
#player-card {
    height: 100%;
}

#funnel-container {
    display: inline-flex;
}

.row {
    width: 100%;
}
 
.nav-bar {
    height: 8%;
}

#app {
    height: 92%;
    padding: 1%;
}

.funnel-row {
    height: 32%;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.funnel-detail-row { 
    width: 100%;
    margin-bottom: 1%;
}

.funnel-detail-item {
    padding: 10px;
    border: 1px solid grey;
    background: lightgrey;
    border-top: none;
    margin-bottom: 5px;
    border-radius: 0 0 5px 5px;
    width: 100%;
}

.flex-row { 
    display: inline-flex;
    flex-flow: row wrap;
}

#funnel-controls { 
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#echarts-funnel-container {
    height: 100%;
    width: 75%;
    vertical-align: top;
}

#echarts-funnel {
    width: 90%;
    height: 95%;
}

.container {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.main-col-child {
    height: 100%;
    overflow-y: auto;
}

#player-container {
    height: 75%;
}

#player-list {
    height: 90%;
    overflow-y: scroll;
}

.funnel {
    margin: 0 auto;
    display: inline-block;
}

#echarts-funnel-container {
    margin-right: 10px;
    display: inline-block;
}

button {
    word-wrap: break-word;
}

#page-spinner {
    width: 10%;
    position: relative;
    top: 45%;
    margin: 0 auto;
}