html,
body {
    height: 100%;
}

#root {
    overflow-y: scroll;
}

#root,
.row,
.main-col,
.page,
#player-card {
    height: 100%;
}

.row {
    width: 100%;
}
 
.nav-bar {
    height: 8%;
}

#app {
    height: 92%;
    padding: 1%;
    padding-top: 0;
}

.flex-row { 
    display: inline-flex;
    flex-flow: row wrap;
}

.container {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.main-col-child {
    height: 100%;
    overflow-y: auto;
}

#player-container {
    height: 90%;
}

#player-list {
    overflow-y: auto;
}

button {
    word-wrap: break-word;
}

button:disabled {
    cursor: not-allowed;
}

#page-spinner {
    width: 10%;
    position: relative;
    top: 45%;
    margin: 0 auto;
}

.zoom-icon {
    padding: 5px;
}

.zoom-icon:disabled {
    color: grey;
}

input[type=range]:enabled::-webkit-slider-thumb {
    cursor: pointer; 
}

input[type=range]:enabled::-moz-range-thumb:enabled {
    cursor: pointer; 
}