html,
body {
    height: 100%;
}

#root,
.row,
.main-col {
    height: 100%;
}

.row {
    width: 100%;
}

.nav-bar {
    height: 8%;
}

#app {
    height: 92%;
    padding: 1%;
}

#page-container {
    height: 92%;
}

#metrics-container,
#metrics-overview-container,
#funnel-container,
#echarts-funnel {
    width: 90%;
    height: 95%;
}

.container {
    max-width: 100%;
    padding: 0;
}

.main-col-child {
    height: 100%;
    overflow-y: auto;
}

button {
    word-wrap: break-word;
}