#portal-top-row {
    padding-top: 1%;
    min-height: 67%;
    margin-bottom: 2%;
}

#portal-bottom-row {
    height: 29%;
    margin-top: 1%;
}

.portal-area {
    padding: 10px;
    height: 100%;
    margin: 0 5px 0 5px;
}

.portal-area.decorated {
    border: 4px solid black;
    border-radius: 15px;
}

.decorated {
    border: 4px solid black;
    border-radius: 15px;
    background-color: white;
}

#portal-view-panels {
    height: 90%;
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-link.active {
    border-color: black black white !important;
    border-width: 4px !important;
    font-weight: bold;
}

.nav-link.active.orange-background {
    border-color: black black #F3D246 !important;
}

.nav-link.active.green-background {
    border-color: black black #3ACB7B !important;
}

.nav-link {
    border-color: #7E7E7E #7E7E7E !important;
    border-width: 4px !important;
    border-bottom-width: 1px !important;
}

.nav-item {
    margin-bottom: -4px !important;
}

.nav-tabs {
    border-bottom: 4px solid black !important;
}

#portal-view-overview-container {
    height: 100%;
}

.orange-background {
    background-color: #F3D246 !important;
}

.green-background {
    background-color: #3ACB7B !important;
}

.portal-view-panel {
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.portal-view-overview-unordered-list {
    list-style-type: circle;
}

.underlined {
    text-decoration: underline;
}

.italicized {
    font-style: italic;
}

.portal-view-overview-section.not-last {
    margin-bottom: 10px;
}

.portal-view-overview-section {
    font-size: 1.15em;
}

.guideline {
    stroke-width: 1px;
    stroke: #3E3E3E;
}

.portal-alert-checkbox {
    width: 0.5em;
    height: 0.5em;
    margin-right: 8px;
    cursor: pointer;
    font-size: 2em;
    visibility: hidden;
}

.portal-alert-checkbox:before {
  content: "\00a0";
  background-color: white;
  display: inline-block;
  visibility: visible;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
}

.portal-alert-checkbox:checked:before {
  content: "\00a0";
  /* content: "\2713"; */
  display: inline-block;
  visibility: visible;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
}

circle.point {
    fill: #000;
    stroke-width: 0px;
    opacity: .8;
}

circle.point.alert-point {
    fill: white !important;
    stroke-width: 2px;
    opacity: .8;
}

circle.point.non-alert-point {
    fill: black !important;
    stroke-width: 0px;
    opacity: .3;
}

image.point {
    outline-width: 0px;
    opacity: .8;
}

image.point.alert-point {
    outline-style: solid;
    outline-width: 2px;
    opacity: .8;
}

image.point.non-alert-point {
    outline-width: 0px;
    opacity: .3;
}

#portal-view-overview-toggle {
    margin-bottom: 5px;
}

#portal-tooltip {
    background-color: lightgrey;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 2px;
    max-height: 100px;
}

#portal-view-customize-container {
    position: absolute;
    width: 95vw;
    height: 82vh;
    left: 2vw;
    top: 15vh;
    background-color: #A0DCEB;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#portal-view-persistence-addons-container {
    position: absolute;
    width: 95vw;
    height: 82vh;
    left: 2vw;
    top: 10vh;
    background-color: #FD99AC;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#persistence-addons-close {
    position: relative;
    right: 2px;
}

#blockly-container {
    height: 70%;
    width: 70%;
    float: right;
}

#create-filter-btn {
    margin-left: 5px;
}

#customize-alerts-list {
    display: flex;
    flex-direction: row; 
}

#customize-active-alerts-container {
    width: 100%;
    height: 35%
}

.customize-alert-box {
    background-color: white;
    border: 7px solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    padding: 3px;
    margin-right: 15px;
}

.customize-alert-box-options {
    align-self: flex-end;
    width: fit-content;
}

.customize-alert-edit-link {
    margin-left: 2px;
}

#portal-misconceptions-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid black;
    padding-top: 10px;
}

.misconception-btn-group {
    display: inline-flex;
    flex-direction: column;
}

.help-icon {
    color: green;
    float: right;
    font-size: 1.5rem;
}

#portal-misc-heatmap-label {
    float: left;
    font-weight: bold;
    font-size: 2rem;
}

#portal-misc-btn-group {
    display: flex;
    justify-content: space-between;
}

#portal-misc-chart-toggle-btn {
    align-self: center;
}

#portal-misconceptions-search {
    float: right;
    width: 30%;
}

#portal-misconceptions-title-container {
    background-color: #3ACB7B;
    min-height: calc(1.5em + .75rem + 2px);
}

#portal-misconceptions-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.misc-btn {
    font-weight: 500;
    border-color: black;
}

.misc-btn.active {
    box-shadow: 0 0 0 0.2rem black
}

#portal-view-misconceptions-container {
    padding: 0px;
}

#portal-misc-back-btn {
    border-color: black;
    position: fixed;
    border-radius: 0px;
    border-bottom-right-radius: .25rem;
}

#portal-misconceptions-stats-container {
    margin: 10px;
    margin-bottom: 20px;
    max-height: 47vh;
    overflow-y: auto;
}

.portal-student-replay {
    text-align: center;
}

.black-link {
    color: black;
}

.grid {
    color: lightgrey;
}

.tooltip-scroll {
    height: 75px;
    max-height: 75px;
    overflow-y: scroll;
}

#portal-filter-wksp-btns {
    float: right;
}

#metric-ranges-container {
    overflow-y: auto;
    height: 60%;
}
