.verticesTooltip {
  position: absolute;
  color: red;
  font-size: 12px;
  width: 100px;
  height: auto;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  background: #f4f4f4;
  z-index: 999999;
}

.plus-option {
   color: yellowgreen;
}

#axes-selection-container {
  width: 18rem;
}

#plus-option-button {
  cursor: pointer;
}


.remove-radar-option {
  float: right;
  color: red;
  cursor: pointer;
  z-index: 9999;
}

/* .level-lines {
  stroke-width: 1px;
}
.level-labels {
  font-size: 12px;
}
.axis-lines {
  stroke-width: 2px;
}
.axis-labels {
  font-size: 12px;
}
.polygon-vertices {
  fill-opacity: 0.6;
}
.polygon-areas {
  fill-opacity: 0.6;
}
.legend-tiles {
  fill-opacity: 0.3;
} */
.legend-labels {
  font-size: 15px;
}

#selection-radar {
  position: sticky;
  top: 0;
}

#add-player-list,
#add-puzzle-list {
  height: 50vh;
  overflow-y: auto;
}

#puzzle-dropdown-options {
  max-height: 50vh;
  overflow-y: auto;
}

.dropdown-menu{
  max-height: 50vh;
  overflow-y: auto;
}

.outlier-student-badge {
  float: right;
}

#outlier-radar-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#outlier-accordion {
  width: 70vw;
}

#outlier-filters {
  width: 20vw;
  height: fit-content;
  position: sticky;
  top: 10vh;
}

#outlier-filters-container {
  padding: 10px;
}